@import "presentation";


/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Articles
*/

$minPad: 10px;
$minMargin: 10px;


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Home
----------------------------------------- */
.commit { color: white; font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; 
	li {list-style: none; padding-bottom: $minPad; }
}

.case-study { background: none !important; padding: 8px 20px 8px 48% !important;}

#github {background: #3f3f3f;padding: 20px;
	img { width: 100%; }
}

.home-image { margin-top: ($minMargin +5); &:last-child { margin-bottom: ($minMargin *2); }}


/* -----------------------------------------
   Articles & Individual
----------------------------------------- */

img.bump-photo { margin-top: 14px !important; }
.top-social { ul { li { float: left; list-style: none; padding: 0 10px; } } }

.twitter-share-button.twitter-count-horizontal { width: 90px;
height: 20px;
margin-bottom: -4px;
margin-left: 20px; }

span.fb .fb_iframe_widget { margin-bottom: -5px !important; margin-left: -15px !important; }

#I0_1342644544594 { margin: 0 0 -4px 2px !important; }
.float-right { float: right; margin-left: 20px;}

#search { margin-bottom: ($minPad * 3) }

.make-white { color: white; }
.glyph.social.make-white { font-size: 1.5em; padding-right: $minPad; 
	&:first-child { padding-left: $minPad;}
}

.glyph.social.author-social { font-size: 1.5em; padding-right: $minPad;  }