@import "presentation";


/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Articles
*/

$minPad: 10px;
$minMargin: 10px;
$headerColor: #292F36;


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

header { background-color: $headerColor; padding: 22px 0;
  h1, h2, h3, h4, h5, h6 { color: $white; }
  h6 { font-weight: normal; opacity: 0.4; }
  a { color: lighten($headerColor, 50%); 
    &:hover { color: $white; }
  }
}

.glyph.social { font-size: 1.5em; padding-right: $minPad; }


/* -----------------------------------------
   Home
----------------------------------------- */
.commit { color: white; font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; 
	li {list-style: none; padding-bottom: $minPad; }
}

.case-study { background: none !important; padding: 8px 20px 8px 48% !important;}

#github {background: #3f3f3f;padding: 20px;
	img { width: 100%; }
}

.home-image { margin-top: ($minMargin +5); &:last-child { margin-bottom: ($minMargin *2); }}

header#homepage {background: url("../images/header.png") top left no-repeat #292f36 !important; padding: 22px 0 102px; }
#homepageFeatures {padding: 44px 0 !important; background: #f6f5f5 !important;}
section#caseStudies { margin-bottom: ($minMargin + 34) !important;}

#getStarted h5 {font-weight: 300; } 

.small.button.download-option { margin-top: 14px; padding: 17px 30px;font-size: 14px; border: none; }


/* -----------------------------------------
   Articles & Individual
----------------------------------------- */




