@import "presentation";


/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

$minPad: 10px;
$minMargin: 10px;


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Home
----------------------------------------- */
.commit { color: white; font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; 
	li {list-style: none; padding-bottom: $minPad; }
}

.case-study { background: none !important; padding: 8px 20px 8px 48% !important;}

#github {background: #3f3f3f;padding: 20px;
	img { width: 100%; }
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */

